/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
// See list at: https://github.com/twbs/bootstrap-rubygem/blob/main/assets/stylesheets/bootstrap/_variables.scss
@import "bootstrap";

.bg-navbar {background-color: $yellow-500;}
.btn-navbar {background-color: $orange-500; color: $white;}
.btn-navbar:hover {background-color: $white; color: $orange-500; border: 1px solid $orange-500}
.btn-navbar-signup {background-color: $cyan-500; color: $white;}
.btn-navbar-signup:hover {background-color: $white; color: $cyan-500; border: 1px solid $cyan-500}

ul.dropdown-menu {background-color: $yellow-200;}
.dropdown-menu-right {right: 0px; left: auto !important}
a.dropdown-item:hover {background-color: $yellow-100;}

